<mat-toolbar>
  <fa-icon mat-button [matMenuTriggerFor]="menu" [icon]="faBars" size="lg"></fa-icon>
  <fa-icon mat-button [icon]="faHeadphones" size="lg" id="iconBackPlayer" routerLink="/player" ></fa-icon>

  <mat-menu #menu="matMenu">
    
    <button mat-menu-item routerLink="/library">
      <span>Library</span>
    </button>

    <button mat-menu-item routerLink="/player">
      <span>Now Playing</span>
    </button>

    <button mat-menu-item>
      <span>Playlists</span>
    </button>

    <button mat-menu-item>
      <span>Podcasts</span>
    </button>

  </mat-menu>

  <span class="example-spacer"></span>

  <i class="fas fa-bars"></i>
  <i class="fas fa-search"></i>

  <div id="searchBar">
    <fa-icon [icon]="faSearch" size="lg"></fa-icon>
  </div>

</mat-toolbar>